<!DOCTYPE html>

<html>

<head>
    <title>{{title}}</title>
    <link rel="icon" href="/img/eelco.jpg">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<div class="main-content">

    <body>
        {{>header}}

        <img class="portrait" src="/img/eelco.jpg">
    </body>
</div>
{{>footer}}

</html>